html {
	font-family:helvetica, sans-serif;
}
.block {
	background: #ccc;
	margin: 10px 0;
	border: solid 1px #333;
	border-top-width: 55px;
	padding: 25px;
	margin-top:0;
}
.block .source {
	background: #333;
	color: #ccc;
	padding: 20px;
	margin-top: 40px;
}
.block .source:before {
	content:"Source";
	display: block;
	padding-bottom: 10px;
	color: white;
}		
.block > h2:first-child {
	color: white;
	margin-top: -66px;
	margin-bottom: 45px;
}

input {
	display: inline-block;
	font-size: 15px;
	padding: 5px;
	width: 500px;
	margin-bottom: 10px;
}

input.custom {
	display: block;
}

#add_p,
#parse_url {
	display: block;
	width: 100px;
	padding: 10px;
	background: #ccc;
	border: solid 1px #333;
	margin-bottom: 15px;
}

#parse_url {
	display: inline-block;
}

fieldset {
	padding: 15px;
}